body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.sigma-name {
    color: white;
    font-size: 35px;
    padding-left: 40px;
    padding-top: 20px;
}

.welcome {
    color: white;
    font-size: 40px;
    padding-top: 10cm;
    padding-left: 6cm;
}

.img-gif {
    position: absolute;
    top: 1px;
    width: 25cm;
    padding-left: 26cm;
    margin-top: 7cm;
}

.text-wrp {
    color: white;
    font-size: 0.6cm;
    padding-left: 7cm;
    padding-top: 0.1cm;
}

